br
br
h6(id="boatnet") Boatnet - Observer Web
p(class="inst-desc") NWFSC NOAA Boatnet is a suite of apps for fisheries data collection, management, and reporting.
br
| Observer Web is a Boatnet app that among other things, provides several tools related to Electronic Monitoring. The same Boatnet user account is used to login to both the Trips Api and Boatnet Observer Web.
br
br
h6 Trips
p(class="inst-desc") Captains log basic trip details, a process that generates a unique trip number. Provides a means for captains to upload logbook captures.
h6 Task Management
p(class="inst-desc") Provides an overview of all taken trips for the EM provider's vessels, including indication of whether a trip requires review, and action links including:

h6 E-Logbook
p(class="inst-desc") An interface to view or input logbook data. May be used in conjuction with, or in lieu of, Trips Api submissions.
h6 API Submission Portal
p(class="inst-desc") Allows the submission of trip logbook data and em review summary JSON without the need to implement Trips API PUT, POST, and GET requests programmaically.