h6(id="datesAndTimes") Dates and times
p(class="inst-desc") dates and times are always bundled as dateTime values in ISO8601 format (YYYY-MM-DDThh:mm:ssZ)
    | eg. 2020-09-11T15:00:00Z. Seconds may always be 00. When time is unknown, time value should be 00:00:00.

h6(id="lostGear") Lost Gear
P(class="inst-desc") Lost Trawl gear
    br
    | &nbsp;&nbsp;&nbsp;&nbsp;include "isLostCodend": true
    br
    | Lost Fixed Gear:
    br
    | &nbsp;&nbsp;&nbsp;&nbsp;include "gearPerSet": [number of hooks or pots set], include "gearLost":[number of hooks or pots lost]
    br
    | &nbsp;&nbsp;&nbsp;&nbsp;if entire set/string is lost, "gearPerSet": [number of hooks or pots set], "gearLost": [number of hooks or pots set]

h6(id="screenshotSubmission") Screenshot Submission
p(class="inst-desc") EM Review screenshots may be provided for a number of&nbsp;
    a(href='./lookups#image-upload-reason') Submission Reasons&nbsp;
    span (submissionReason property)
p(class="inst-desc") A submission may contain one or more images related to a single em review event (eg a species interaction or a species identification).
                    | &nbsp;Each event should be submitted independently, with required metadata (timeStamp, submissionReason, etc.).
br
iframe(scrolling="no" src="./api-docs/#/Screenshot/post_screenshot__tripNum_" style="width: 100%; height: 1200px")
