
doctype html
html(lang='en')
    head
        include head.pug

body(class='container')
    include header.pug
    include nav.pug
    div(style="background-color: #007EC6; padding: 10px; color: white")
        h5 API Docs
    iframe(src='./api-docs/#/' style='width: 100%; height: 800px')