head
    meta(charset='UTF-8')
    meta(name='viewport' content='width: device-width, initial-scale=1.0')
    link(href='./static/bootstrap-4.5.2-dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='./static/style.css' rel='stylesheet')
    script(src='./static/jquery/jquery-3.5.1.min.js')
    script(src='./static/bootstrap-4.5.2-dist/js/bootstrap.min.js')
    title Trips Api Docs

