doctype html
html(lang='en')
    head
        include head.pug

body(class='container')
    include header.pug
    include nav.pug
    h5 Instructions
            h6(id="httpsRequired") https required
            p(class="inst-desc") The Trips API will not respond to http requests, please be sure all requests are prefixed with https.</p \
            h6(id="summary-structure") submission structure
            p(class="inst-desc")
                | EM review and logbook submissions share a common structure:
                | trip details including a hauls (sets) array,
                | each haul containing haul details and a catch array,
                | with each catch containing catch details.
            p(class="inst-desc")
                | trip details
                br
                | &nbsp;&nbsp;hauls [
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;haul details
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;catch [
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;catch details
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;]
                br
                | ]
            h6 dates and times
            h6 lost gear
            h6 screenshot submission
            h6 observer web
                    h6 task management
                    h6 e-logbook
                    h6 api submission portal
            h6 logging in
                h6 getting a login
            h6 query for trip number
            h6 submit new logbook data
            h6 update logbook data
            h6 submit a new review
            h6 update a review