div(style="background-color: #007EC6; padding: 10px")
    h5(class="inst-desc" style="color: white") Instructions
    div
        ul(style="list-style: none; color: white; text-decoration: none" class="row")
            li
                a(href='#httpsRequired' style="color: white; margin:  10px") https Required
            li
                a(href='#login' style="color: white; margin:  10px") Login
            li
                a(href='#tripNumber' style="color: white; margin:  10px") Get Trip Number
            li
                a(href='#submitTrip' style="color: white; margin:  10px") Submit Trip
            li
                a(href='#catchDataStructure' style="color: white; margin:  10px") Catch Data Structure
            li
                a(href='#submitLogbook' style="color: white; margin:  10px") Submit Logbook Data
            li
                a(href='#updateLogbook' style="color: white; margin:  10px") Update Logbook Data
            li
                a(href='#submitReview' style="color: white; margin:  10px") Submit EM Review
            li
                a(href='#updateReview' style="color: white; margin:  10px") Update EM Review
            li
                a(href='#datesAndTimes' style="color: white; margin:  10px") Dates And Times
            li
                a(href='#lostGear' style="color: white; margin:  10px") Lost Gear
            li
                a(href='#screenshotSubmission' style="color: white; margin:  10px") Screenshot Submission
            li
                a(href='#boatnet' style="color: white; margin:  10px") Boatnet