-var path=path
-var exampleLogbook=exampleLogbook

doctype html
html(lang='en')
    head
        include head.pug

body(class='container')
    include header.pug
    include nav.pug
    include inst-contents.pug

    include login-instructions.pug
    include trip-instructions.pug
    include catch-instructions.pug
    include detail-instructions.pug
    include boatnet-instructions.pug
