nav(class='navbar navbar-expand-md navbar-light bg-light')
    button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navBar' aria-controls='navBar' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse' id='navBar')
        ul(class='navbar-nav mr-auto')
            li(class='nav-item')
                a(class='nav-link' href='./instructions') Instructions
            li(class='nav-item')
                a(class='nav-link' href='./docs') API Docs
            li(class='nav-item')
                a(class='nav-link' href='./lookups') Lookups
            li(class='nav-item')
                a(class='nav-link' href='./program') Program