doctype html
html(lang='en')
    head
        include head.pug

body(class='container')
    include header.pug
    include nav.pug
    div(style="background-color: #007EC6; padding: 10px; color: white")
        h5(class="inst-desc" style="color: white") Program
    br
    p Additional information about the Electronic Monitoring program and the provider application process is available at the&nbsp;
        a(href="https://www.fisheries.noaa.gov/permit/electronic-monitoring-program-service-provider-application-and-service-plan") West Coast Region website
        span .
    br
    p West Coast Region -
        a(href="https://www.webapps.nwfsc.noaa.gov/apex/ifq/f?p=112:45:::NO::P45_VIEW_ALL:") Current buyers
        span .