doctype html
html(lang='en')
    head
        include head.pug

body(class='container')
    include header.pug
    include nav.pug
    div(style="background-color: #007EC6; padding: 10px; color: white")
        h5(class="inst-desc" style="color: white") Program
    br
    a(class="inst-desc" href="https://www.fisheries.noaa.gov/permit/electronic-monitoring-program-service-provider-application-and-service-plan") West Coast Region EM Program